absl-py==0.11.0
aiohttp==3.7.3
aniso8601==9.0.1
asgiref==3.3.4
astor==0.8.1
astunparse==1.6.3
async-timeout==3.0.1
attrs==20.3.0
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.9.3
CacheControl==0.12.6
cachetools==4.2.2
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
click==7.1.2
comtypes==1.1.10
currency.converter==0.5.5
cv==1.0.0
decorator==5.0.9
discord.py==1.6.0
distlib==0.3.2
Django==3.2.4
docopt==0.6.2
face-detector==0.2
filelock==3.0.12
firebase-admin==5.0.1
Flask==2.0.1
Flask-RESTful==0.3.9
flatbuffers==1.12
freegames==2.3.2
future==0.18.2
gast==0.4.0
geocoder==1.38.1
google-api-core==1.30.0
google-api-python-client==2.10.0
google-auth==1.32.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.5
google-cloud-core==1.7.1
google-cloud-firestore==2.1.3
google-cloud-storage==1.39.0
google-crc32c==1.1.2
google-pasta==0.2.0
google-resumable-media==1.3.1
google-search==1.0.2
googleapis-common-protos==1.53.0
grpcio==1.34.1
gunicorn==20.1.0
h5py==3.1.0
httplib2==0.19.1
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.0
Js2Py==0.70
Keras-Applications==1.0.8
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
lxml==4.6.2
Markdown==3.3.3
MarkupSafe==2.0.1
msgpack==1.0.2
multidict==5.1.0
nltk==3.5
numpy==1.19.5
oauthlib==3.1.1
opencv-python==4.5.3.56
opt-einsum==3.3.0
packaging==20.8
panda3d==1.10.9
panda3d-gltf==0.13
panda3d-simplepbr==0.8
Pillow==8.3.1
pipwin==0.5.0
platformdirs==2.2.0
playsound==1.3.0
proto-plus==1.18.1
protobuf==3.17.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pygame==2.0.1
pyjokes==0.6.0
pyjsparser==2.7.1
PyLyrics==1.1.0
pyparsing==2.4.7
pyperclip==1.8.2
pypiwin32==223
PyPrind==2.11.2
pySmartDL==1.3.4
python-dotenv==0.15.0
pyttsx3==2.90
pytz==2020.5
pywin32==301
ratelim==0.1.6
regex==2020.11.13
requests==2.25.1
requests-oauthlib==1.3.0
reverse-geocode==1.4.1
reverse-geocoder==1.5.1
rsa==4.7.2
scikit-learn==0.24.0
scipy==1.6.0
screeninfo==0.6.7
SE==2.3
six==1.15.0
soupsieve==2.1
SpeechRecognition==3.8.1
sqlparse==0.4.1
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow-cpu==2.5.0
tensorflow-estimator==2.5.0
termcolor==1.1.0
threadpoolctl==2.1.0
tqdm==4.56.0
typing-extensions==3.7.4.3
tzlocal==2.1
uritemplate==3.0.1
urllib3==1.26.2
ursina==3.6.0
virtualenv==20.7.0
Werkzeug==2.0.1
wrapt==1.12.1
yarl==1.6.3
